<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAemwMXxes4rqS-lFHs1gUfuADNDmXN7xU</string>
	<key>GCM_SENDER_ID</key>
	<string>736269045662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.companion</string>
	<key>PROJECT_ID</key>
	<string>companion-planner-and-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>companion-planner-and-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736269045662:ios:722c7642ff0681cf17108f</string>
</dict>
</plist>